@import 'variables';

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    color: $white;
    line-height: 1.3;
    background-color: $darkblue;
}

.flex {
    display: flex;

    &-fd-c {
        flex-direction: column;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}
