$darkblue: hsl(233, 47%, 7%);
$desaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$transparentWhite: hsla(0, 0%, 100%, 0.75);
$slightlyWhite: hsla(0, 0%, 100%, 0.6);
$subheading: 1.6875rem;
$inter: 'Inter', sans-serif;