@import 'global';
@import 'variables';

.card {
    background-color: $desaturatedBlue;
    max-width: 23.4375em;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 4rem 1.5rem;
    
    @media (min-width: 69em) {
        flex-direction: row-reverse;
        max-width: 69.3125rem;
        margin: 0 1.5rem;
    }
}

.img-sec {
    background-color: $softViolet;
    img {
        content: url(../images/image-header-mobile.jpg);
        display: block;
        max-width: 100%;
        height: auto;
        mix-blend-mode: multiply;
        opacity: 0.8;

        @media (min-width: 69em) {
            content: url(../images/image-header-desktop.jpg);
            max-width: 33.75rem;
            height: 27.8125rem;
        }
    }
}

article {
    text-align: center;
    margin: 2.5rem 2.8rem 0;
    
    @media (min-width: 69em) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 4rem 7rem 4rem 4rem;
    }
}

.wrap {
    h1, p{
        margin-top: 0;
        text-align: center;

        @media (min-width: 69em) {
            text-align: left;
        }
    }

    h1 {
        font-size: 1.8rem;

        @media (min-width: 69em) {
            font-size: 2rem;
        }

        span {
            color: $softViolet;
        }
    }

    p {
        margin-bottom: 3.125rem;
        line-height: 1.6;
        color: $transparentWhite;
    }
}

.stats {
    @media (min-width: 69em) {
        display: flex;
        justify-content: start;
        gap: 3rem;
    }
    h2, p {
        margin: 0;
    }

    h2 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }

    p {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 0.75rem;
        color: $slightlyWhite;
        text-transform: uppercase;
        margin-bottom: 2.1875rem;

        @media (min-width: 69em) {
            margin-bottom: 0;
        }
    }
}